// Settings - Breakpoints 
$breakpoints: (
);

// Settings - Typography
$base-font-size: 16px;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$base-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$alt-font-stack: 'Montserrat', $base-font-stack;

// Settings - Colour scheme
$palette: (
	social: (
		twitter: #55acee,
		facebook: #3b5998,
		tumblr: #35465c,
		github: #333
	)
);

$palette-locales: (
	severn: #5832ab,
	bristol: #f44336,
	cardiff: #3f51b5,
	weston-super-mare: #ff9800,
	newport: #009688
);

@each $locale, $color in $palette-locales {
	$map: (
		#{$locale}: (
			base: $color,
			darker: mix(#000, $color, 20%),
			darkest: mix(#000, $color, 40%),
			light: mix(#fff, $color, 70%),
		)
	);
	$palette: map_merge($palette, $map);
}

// Settings - Animation
$easing: cubic-bezier(.455, .03, .515, .955);