{% macro tweet(username, avatar, message, timestamp) %}
<div class="tweet tweetstream__tweet">
    <img class="tweet__avatar" src="{{ avatar }}">
    <div class="tweet__body">
        <div class="tweet__meta">
            <strong class="tweet__name">@{{ username }}</strong>
            <time class="tweet__date" datetime="{{ timestamp }}">{{ timestamp }}</time>
        </div>
        <div class="content tweet__content">
            {{ message | escape }}
        </div>
    </div>
</div>
{% endmacro %}
